# IDEs
.idea/
.vscode/
.claude/

# Build artifacts
dist/
/backend/data/
/backend/storage/
*.exe
*.exe~

# Libraries
/backend/libs/bge-small-zh-v1.5/
/backend/libs/gse/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
